<!-- components/modal.html -->
<div id="global-modal" class="modal-backdrop hidden">

  <div class="modal" id="global-modal-box">

    <div class="modal-header">
      <h3 id="modal-title"></h3>

      <button type="button" class="btn-icon" onclick="closeModal()">
        ✕
      </button>
    </div>

    <div class="modal-body" id="modal-body"></div>

    <div class="modal-footer">

      <button type="button" class="btn btn-ghost" onclick="closeModal()">
        Cancelar
      </button>

      <!-- IMPORTANTE: empieza neutral -->
        <button id="modal-confirm-btn" class="btn" onclick="handleConfirm()">
        Confirmar
        </button>

    </div>

  </div>

</div>