{% extends 'base.html' %}

{% block title %}
Editar Usuario
{% endblock %}

{% block content %}

<h2>Editar Usuario</h2>

<form method="POST">

    <input
        type="text"
        name="nombre_usuario"
        value="{{ usuario.nombre_usuario }}"
        required
    >

    <br><br>

    <select name="rol">

        <option
            value="ADMIN"
            {% if usuario.rol == 'ADMIN' %}
                selected
            {% endif %}
        >
            Administrador
        </option>

        <option
            value="VENDEDOR"
            {% if usuario.rol == 'VENDEDOR' %}
                selected
            {% endif %}
        >
            Vendedor
        </option>

    </select>

    <br><br>

    <label>

        <input
            type="checkbox"
            name="activo"
            {% if usuario.activo %}
                checked
            {% endif %}
        >

        Activo

    </label>

    <br><br>

    <button type="submit">
        Actualizar
    </button>

</form>

{% endblock %}