{% extends "base.html" %}

{% block titulo %}Nuevo Material{% endblock %}

{% block page_title %}Nuevo Material{% endblock %}

{% block page_sub %}
Registrar material en el sistema
{% endblock %}

{% block content %}

<div class="card">

    <form method="POST">

        <div class="form-group">
            <label>Nombre del Material</label>
            <input type="text" name="nombre_material" required>
        </div>

        <button type="submit">
            Guardar
        </button>

        <a href="{{ url_for('material.index') }}">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}